@import "mobile";
html,body{width:100%;height:100%;background:white;font-family: "microsoft yahei";}
a{color: inherit;}
.alertul{
    list-style:none;
    margin:0px;
    padding:0px;
    width:100%;
    .alertcontent{background:rgba(49, 49, 49, 0.5);
    text-align:center;height:pxToRem(120);
    line-height:pxToRem(120);
    color:white;width:100%;border-radius:5px;
    font-size:14px}
    }

input[type="checkbox"]{
-webkit-appearance: none;
  background: transparent;
  height:pxToRem(60);
  vertical-align: middle;
  width:pxToRem(60);
   border:1px solid #ccc;
   border-radius:50%;
}
input[type="checkbox"]:checked{
   border-color:transparent;
   background:url(../img/gou.png) center no-repeat;
   background-size:100%;
  
}

.gotop{
    position:fixed;
    right:pxToRem(50);
    bottom:pxToRem(350);
    z-index:100;
    width:pxToRem(160);
    height:pxToRem(160);
    border:none;
    font-size:12px;
    border:1px solid #C0C0C0;
    opacity:.5;
    background:white;
    border-radius:50%;
    display:none;
    span{
        font-size:18px;
    }
}
header{
   height:pxToRem(132);
   width:100%;
   background:#000;
   color:#fff;
   padding:0 pxToRem(40);
   line-height:pxToRem(132);
   box-sizing:border-box;
  ul{
      width:100%;
      height:100%;
      display:-webkit-box;
      display:-webkit-flex;
       display:-ms-flexbox;
        display:flex;
      justify-content: space-between;
      font-size:pxToRem(42);
      li:nth-of-type(1){
          padding-left:pxToRem(34) ;
          background:url(../img/Back.png) left center no-repeat;
          background-size:pxToRem(24) pxToRem(41);
      }
      li:nth-of-type(3){
          img{                     
              width:pxToRem(63);
              height:pxToRem(20);                     
          }
      }
    }            
}
.weui-tabbar{
    font-family:Arial;
    position:fixed;
    left:0;
    bottom:0;
    background:white;
    color:gray;
    height:50px;

   
    .weui-tabbar__label{
        font-size:pxToRem(46);
        line-height:1;
    }
    .iconfont{
        font-size:20px;
        color:gray;
    }
    .weui-tabbar__item.weui-bar__item_on 
    { 
        .iconfont{
            color:#157efb;   
        }           
        .weui-tabbar__label{
            color:#157efb;
        }
    }
}
/*引入boot样式*/
.container {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto
}
@media (min-width:768px) {
    .container {
        width: 750px
    }
}

@media (min-width:992px) {
    .container {
        width: 970px
    }
}

@media (min-width:1200px) {
    .container {
        width: 1170px
    }
}

.container-fluid {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto
}

.row {
    margin-right: -15px;
    margin-left: -15px
}

.col-xs-1,
.col-sm-1,
.col-md-1,
.col-lg-1,
.col-xs-2,
.col-sm-2,
.col-md-2,
.col-lg-2,
.col-xs-3,
.col-sm-3,
.col-md-3,
.col-lg-3,
.col-xs-4,
.col-sm-4,
.col-md-4,
.col-lg-4,
.col-xs-5,
.col-sm-5,
.col-md-5,
.col-lg-5,
.col-xs-6,
.col-sm-6,
.col-md-6,
.col-lg-6,
.col-xs-7,
.col-sm-7,
.col-md-7,
.col-lg-7,
.col-xs-8,
.col-sm-8,
.col-md-8,
.col-lg-8,
.col-xs-9,
.col-sm-9,
.col-md-9,
.col-lg-9,
.col-xs-10,
.col-sm-10,
.col-md-10,
.col-lg-10,
.col-xs-11,
.col-sm-11,
.col-md-11,
.col-lg-11,
.col-xs-12,
.col-sm-12,
.col-md-12,
.col-lg-12 {
    position: relative;
    min-height: 1px;
    padding-right: 6px;
    padding-left: 4px
}

.col-md-4 {
        width: 33.33333333%
    }
    .col-md-3 {
        width: 25%
    }