@import "mobile";
header{
    width:100;
    height:pxToRem(140);
    line-height:pxToRem(140);
    text-align:center;
    background:#f8f8f8;
    color:#333333;
    font-size:pxToRem(46);
    span{
        color:#20a1f9;
    }
}
.city{
    width:100%;
    height:auto;
    background:white;
    box-sizing:border-box;
    padding:5%  8%;
    overflow:hidden;
    li{
        border:1px solid #c5c4c4;
        border-radius:5px;
        width:22%;
        text-align:center;
        float:left;
        margin-right:3%;
        font-size:pxToRem(44);
        padding:1% 0;
        margin-bottom:3%;
    }
    li.active{
       border-color:#b3dffd; 
    }
    li:nth-of-type(4n){
        margin-right:0;
    }
}
